h1 {
    font-weight: bold;
}

#index p , h1, h2 {
    font-family: 'Poppins', sans-serif;
}
#about-me p , h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}
#experience p {
    font-family: 'Poppins', sans-serif;
}
#experience h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
#cards p, h2 {
    font-family: 'Poppins', sans-serif;
}
#cards2 p, h2 {
    font-family: 'Poppins', sans-serif;
}
#cards3 p, h2 {
    font-family: 'Poppins', sans-serif;
}
#border h2 {
        font-family: 'Poppins', sans-serif;
    
}
/* index.html */
#jumbo-index .jumbotron{
    background-image: url("/static/img/wwf 2.jpg");
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 100%;
}
#jumbo-index h1{
    margin-top:100px; bottom: 10px; font-weight: 400;
}
#index p , h1, h2 {
    font-family: 'Poppins', sans-serif;
}
#index .common-btn{
    cursor: pointer;
    transition: transform 0.5s;
}
#index .common-btn:hover{
    transform: translateY(-10px);
}
#index h2.thicker {
    font-weight: bold;
}
* {
    box-sizing: border-box;
}
#index .container{
    margin-top: 85px;
}

#index .row {
    display: flex;
}
#index .column {
    flex: 50%;
    padding: 10px 30px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 10px; 
}
#index .container{
    margin-bottom: 20px;
}
#index .square {
    height: 12px;
    width: 12px;
    display: inline-block;
    background: red;
    margin: 15px 0;
}
#index .line-1{
    width: 15px;
    height: 15px;
    background: red;
    display: inline-block;
}
#index .line-2{
    width: 80px;
    height: 1px;
    background: maroon;
    display: inline-block;
}
#index .line-3{
    width: 60px;
    height: 1px;
    background: maroon;
    display: inline-block;
}
#index .line{
    line-height: 8px;
}
#index hr{
    width: 100%;
    border: 0;
    border-top: 1px solid maroon;
}
#index .common-btn{
    padding: 7px 25px;
    background: transparent;
    outline: none;
    border: 2px solid yellowgreen;
    font-weight: bold;
    cursor: pointer;
    margin-top: 6px;
    margin-bottom: 30px;
}
#border {
    padding: 5px 10px;
    background: transparent;
    display: inline-block;
    outline: none;
    border: 3px solid black;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 30px;
}
#index .social-menu ul{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
    margin-bottom: 50px;
}
#index .social-menu ul li{
    list-style: none;
    margin: 0 15px;
}
#index .social-menu ul li .fa{
    font-size: 30px;
    line-height: 60px;
    transition: .6s;
    color: #000;
}
#index .social-menu ul li .fa:hover{
    color: #fff;
}
#index .social-menu ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4 px rgba(0,0,0,.5);
}
#index .social-menu ul li a:hover{
    transform: translate(0, -10px);
}
#index .social-menu ul li:nth-child(1) a:hover{
    background-color: #0077B5;
}
#index .social-menu ul li:nth-child(2) a:hover{
    background-color: #e4405f;
}
#index .social-menu ul li:nth-child(3) a:hover{
    background-color: #0084ff;
}
#index .social-menu ul li:nth-child(4) a:hover{
    background-color: #ff5700;
}

/* AboutMe.html */
#jumbo-about-me .jumbotron{
    background-image: url("/static/img/wwf%204.jpeg");
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 100%;
}
#about-me .col-md-12{
    cursor: pointer;
    transition: transform 0.5s;
    text-align: center;
}
#about-me .col-md-12:hover{
    transform: translateY(-10px);
}
* {
    box-sizing: border-box;
}
#about-me .row {
    display: flex;
}
#about-me .column {
    flex: 50%;
    padding: 20px;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 20px; 
}
#about-me .col-sm-6{
    margin-top: 70px;
}
#about-me .line-1{
    width: 15px;
    height: 15px;
    background: #19BEA0;
    display: inline-block;
}
#about-me .line-2{
    width: 15px; 
    height: 15px;
    background: #F88923;
    display: inline-block;
}
#about-me .line-3{
    width: 15px;
    height: 15px;
    background: #D7263B;
    display: inline-block;
}
#about-me .square {
    height: 9px;
    width: 9px;
    display: inline-block;
    background: red;
    margin: 15px 0;
}
#about-me img {
    border-radius: 50%;
}
#about-me .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#about-me h2.thicker{
    font-weight: bold;
}
#about-me li{
    list-style: none;
}
#about-me #education{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("/static/img/wwf%203.jpg");
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding: 100px;
    height: 800px;
    width: 100%;
    margin-top: 60px;
}
#about-me #education h1{
    text-align: center;
    color: #efefef !important;
    display: block;
    background-attachment: fixed;
    padding-bottom: 10px;
}
#about-me #education h1::after{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
#about-me .education{
    margin-top: 70px;
}
#about-me .square{
    width: 15px;
    height: 15px;
    background: red;
    display: inline-block;
}
#about-me .social-menu{
    bottom: -135px;
}
#about-me .social-menu ul{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
    margin-top: 60px;
    margin-bottom: 50px;
}
#about-me .social-menu ul li{
    list-style: none;
    margin: 0 15px;
}
#about-me .social-menu ul li .fa{
    font-size: 30px;
    line-height: 60px;
    transition: .6s;
    color: #000;
}
#about-me .social-menu ul li .fa:hover{
    color: #fff;
}
#about-me .social-menu ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4 px rgba(0,0,0,.5);
}
#about-me .social-menu ul li a:hover{
    transform: translate(0, -10px);
}
#about-me .social-menu ul li:nth-child(1) a:hover{
    background-color: #0077B5;
}
#about-me .social-menu ul li:nth-child(2) a:hover{
    background-color: #e4405f;
}
#about-me .social-menu ul li:nth-child(3) a:hover{
    background-color: #0084ff;
}
#about-me .social-menu ul li:nth-child(4) a:hover{
    background-color: #ff5700;
}

/* Experience.html */
#jumbo-experience .jumbotron{
    background-image: url("/static/img/nct3.jpg");
    background-size: cover;
    height: 450px;
    width: 100%;
}
* {
    box-sizing: border-box;
  }
  
#experience .column {
    float: left;
    width: 33.33%;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.5s;
}
#experience .column:hover{
    transform: translateY(-10px);
}

#experience .row::after {
    content: "";
    clear: both;
    display: table;
}
#experience h2 {
    text-align: center;
    margin-top: 60px;
}
#experience h2::after{
    content: '';
    background: maroon;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
    margin-bottom: 30px;
}
#experience p {
    margin-top: 20px;
    text-align: center;
}
#experience .social-menu{
    bottom: -80px;
}
#experience .social-menu ul{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
    margin-bottom: 50px;
}
#experience .social-menu ul li{
    list-style: none;
    margin: 0 15px;
}
#experience .social-menu ul li .fa{
    font-size: 30px;
    line-height: 60px;
    transition: .6s;
    color: #000;
}
#experience .social-menu ul li .fa:hover{
    color: #fff;
}
#experience .social-menu ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4 px rgba(0,0,0,.5);
} */
#experience .social-menu ul li a:hover{
    transform: translate(0, -10px);
}
#experience .social-menu ul li:nth-child(1) a:hover{
    background-color: #0077B5;
}
#experience .social-menu ul li:nth-child(2) a:hover{
    background-color: #e4405f;
}
#experience .social-menu ul li:nth-child(3) a:hover{
    background-color: #0084ff;
}
#experience .social-menu ul li:nth-child(4) a:hover{
    background-color: #ff5700;
}

/* social.hmtl */


#jumbo-social .jumbotron{
    background-image: url("/static/img/background.png");
    background-size: cover;
    background-position: center;
    height: 450px;
}
#cards {
    display: flex;
    justify-content: center;
    align-items: center;
}
#cards .container{
    position: relative;
    width: 1100px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-top: 40px;
    margin-bottom: -50px;
}
#cards .container .card{
    position: relative;
    max-width: 300px;
    height: 300px;
    background: #D3682C;
    margin: 60px 10px;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}
#cards .container .card:hover{
    height: 420px;
}
#cards .container .card .imgBx{
    position: relative;
    width: 260px;
    height: 260px;
    top: -120px;
    right: -5px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
#cards .container .card .imgBx img{
    max-width: 100%;
    border-radius: 4px;
}
#cards .container .card .content{
    position: relative;
    margin-top: -120px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
#cards .container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
/* rgba(223, 37, 24, 0.959) */
#cards2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#cards2 .container{
    position: relative;
    width: 1100px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-top: 40px;
    margin-bottom: -50px;
}
#cards2 .container .card{
    position: relative;
    max-width: 300px;
    height: 300px;
    background:#D3682C;
    margin: 72px 10px;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}
#cards2 .container .card:hover{
    height: 420px;
}
#cards2 .container .card .imgBx{
    position: relative;
    width: 260px;
    height: 260px;
    top: -145px;
    right: -5px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
#cards2 .container .card .imgBx img{
    max-width: 100%;
    border-radius: 4px;
}
#cards2 .container .card .content{
    position: relative;
    margin-top: -120px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
#cards2 .container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
#cards3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#cards3 .container{
    position: relative;
    width: 1100px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-top: 40px;
    margin-bottom: 10px;
}
#cards3 .container .card{
    position: relative;
    max-width: 300px;
    height: 300px;
    background:#D3682C;;
    margin: 72px 10px;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}
#cards3 .container .card:hover{
    height: 420px;
}
#cards3 .container .card .imgBx{
    position: relative;
    width: 260px;
    height: 260px;
    top: -140px;
    right: -1px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
#cards3 .container .card .imgBx img{
    max-width: 100%;
    border-radius: 4px;
}
#cards3 .container .card .content{
    position: relative;
    margin-top: -120px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
#cards3 .container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
#social .social-menu ul{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
    margin-bottom: 50px;
}
#social .social-menu ul li{
    list-style: none;
    margin: 0 15px;
}
#social .social-menu ul li .fa{
    font-size: 30px;
    line-height: 60px;
    transition: .6s;
    color: #000;
}
#social .social-menu ul li .fa:hover{
    color: #fff;
}
#social .social-menu ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4 px rgba(0,0,0,.5);
}
#social .social-menu ul li a:hover{
    transform: translate(0, -10px);
}
#social .social-menu ul li:nth-child(1) a:hover{
    background-color: #0077B5;
}
#social .social-menu ul li:nth-child(2) a:hover{
    background-color: #e4405f;
}
#social .social-menu ul li:nth-child(3) a:hover{
    background-color: #0084ff;
}
#social .social-menu ul li:nth-child(4) a:hover{
    background-color: #ff5700;
}