{% extends "base.html" %}

{% block Title%}
    {{title}}
{% endblock Title%}

{% block page %}
  <section id="jumbo-about-me">
    <div class="jumbotron jumbotron-fluid">
      <div class="container text-white text-center">
        <h1 class="display-4" style="margin-top:120px; font-weight: 400;">A B O U T</h1>
      </div>
    </div>
  </section>
{% endblock page%}

{% block contents%}
  <section id="about-me">
    <div class="row">
      <div class="column">
      <img class="center" src="/static/img/hasna%20(2).jpg" width="300" height="300" alt="Avatar" style="margin-right:100px">
      </div>
      <div class="column"">
        <h2 class="thicker">BIODATA</h2>
        <span class="square"></span>
        {% for ii in biodata %}
        <li style="font-family: 'Poppins', sans-serif;"> {{ ii }} </li>
        {% endfor %}
        <p></p>
        <div class="line">
          <span class="line-1"></span>
          <span class="line-2"></span>
          <span class="line-3"></span>
        </div>
      </div>
      <div class="container">   
        <div class="row">
          <div class="col-sm-6">
            <h2 class="thicker">SKILLS</h2>
            <span class="square"></span>
            <p>As a computer science student, i have learned some languange programmes, such as Java and Python.
              I also has a good ability speaking in front of many people because when i was in senior high school,  i used to join many debate competition.
            </p>
            <div class="line">
                <span class="line-1"></span>
                <span class="line-2"></span>
                <span class="line-3"></span>
            </div>
          </div>
          <div class="col-sm-6" >
            <p>Java</p>
          <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
              aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                60%
              </div>
          </div>
          <p>Python</p>
          <div class="progress">
              <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
              aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                60%
              </div>
          </div>
          <p>Public Speaking</p>
          <div class="progress">
              <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar"
              aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                90%
              </div>
            </div>
          <p >Microsoft Programme</p>
          <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
              aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                80%
              </div>
            </div>
          </div>
          <div class="container text-monospace">   
            <div class="row">
              <div class="col-sm-6" >
                <p>English</p>
                <div class="progress">
                  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                  aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                    70%
                  </div>
                </div>
                <p>Indonesia</p>
                <div class="progress">
                  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    100%
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <h2 class="thicker">LANGUAGES</h2>
                <span class="square"></span>
                <p>I am capable of speaking english but not that good because i still lack in 
                  many aspects such as grammar, vocab, and pronunciation. Actually, i started to learn english when i was in 
                  primary school, but my ability to speak and understand english went sky rocket when i started to
                  like kpop especially BTS, yup, thanks to my hobby; fangirling.
                </p>
                <div class="line">
                  <span class="line-1"></span>
                  <span class="line-2"></span>
                  <span class="line-3"></span>
                </div>
              </div>
          <section id="education">
            <div class="container">
              <h1>EDUCATIONS</h1>
              <div class="row education">
                  <div class="col-md-12 text-center">
                    <h3>Primary School</h3>
                    <p>SDIT Ummul Quro<br>2007 - 2013</p>
                  </div>
                  <br>
                  <div class="col-md-12 text-center">
                    <h3>Middle School</h3>
                    <p>SMPIT Ummul Quro<br>2013 - 2016</p>
                  </div>
                  <br>
                  <div class="col-md-12 text-center">
                    <h3>High School</h3>
                    <p>SMAN5 Bogor<br>2016 - 2019</p>
                  </div>
                  <br>
                  <div class="col-md-12 text-center">
                    <h3>University</h3>
                    <p>Universitas Indonesia<br>2019 - Now</p>
                  </div>
              </div>
            </div>
            <div class="container-fluid">
              <div class="row text-center">
                <div class="col-12 social-menu">
                  <ul>
                    <li><a href="https://line.me/ti/p/9Nr1-f7ykWn"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/nadifahsn/?hl=en"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/hasna-nadifah-64635b1aa/"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://gitlab.com/nadifaahsn/"><i class="fa fa-github"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
  </section>
{% endblock contents%}