
{% extends "base.html" %}
{% load static %}

{% block Title%}
    {{title}}
{% endblock Title%}

{% block contents%}
    <div class="container bg-light text-dark shadow" style="margin-top:70px">
        <hr/>
            
        <center><section name="about_me">
                
            <h2>About Me</h2>
            <div id="over" class="text-center">
                <img src= "https://maung.id/static/c72d4b97bc7a561342424a4726f9444e/9f583/KR21.jpg" alt="Avatar" width = "200" height="200" />
            </div>
            <p></p>
            <p>Halo, Perkenalkan saya Hasna!</p>
        
            
            
        </section>
        </center>   
        <hr/>

        <section name="biodata">
            
            <h2>Biodata</h2>
                
            <p>Nama: {{nama}}</p>   
            <p>NPM: {{NPM}}</p> 
            <p>Angkatan: 2019</p>
            <p>Tempat Kuliah: Fakultas Ilmu Komputer, Universitas Indonesia</p>
            <p>Hobi: Menonton Film</p>
            <p href="https://www.instagram.com/nadifahsn/">Instagram: @nadifahsn</p>
            
        </section>
        <hr/>
        <section name="deskripsi">
            
            <h2>Deskripsi</h2>
                
            <p>Saya adalah seseorang yang ekstrovert dan senang berinteraksi dan bertukar pikiran dengan banyak orang. 
            Saya juga senang jalan-jalan dan menghabiskan waktu diluar. Walaupun saya suka keramaian, saya juga seseorang yang
            selalu menyempatkan diri untuk me-time dan menghabiskan waktu sendiri.
            </p>
            
        </section>
        <hr/>
        <section name="riwayat">
            <h2>Riwayat Pendidikan</h2>
            <p></p>
            <ul>
                
                {% for ii in riwayat %}
                    
                <li> {{ ii }} </li>
                    
                {% endfor %}
                
            </ul>
        </section>
        <hr/>

    </div>




    <style>
    body{
    background-image: url('https://images.sharefaith.com/images/3/1499104480466_113/img_mouseover3.jpg'); 		
    }
    img {
        border-radius: 50%;
    }

    </style>
{% endblock contents%}

    
